##extruder.cfg
#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
##  34.37086 for Bondtech 8mm gears (Galileo)
#rotation_distance: 34.968913 # für den Orbiter, erster Extruder auf Jet.exe
#rotation_distance:  34.37086 # 1 try 
#rotation_distance: 51.37647 # 2 try
rotation_distance:  22.38635
##  Use 7.5:1 for Galileo
#gear_ratio: 7.5:1				#BMG Gear Ratio

# BMG Stealthburner
gear_ratio: 50:10

microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.40
filament_diameter: 1.75
##      In E0 OUT Position
heater_pin: PB15
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2 
sensor_pin: PC0
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 190
control = pid

pid_kp = 22.155
pid_ki = 1.027
pid_kd = 120.700

#pid_kp = 22.445
#pid_ki = 9.41
#pid_kd = 133.828


# Hotend opendoor
# Kp 22.445
# Ki 09.41
# KD 133.828

#With Nevermore
#PID parameters: pid_Kp=40.155 pid_Ki=1.293 pid_Kd=311.700
#The SAVE_CONFIG command will update the printer config file
#with these parameters and restart the printer.
# 13.01..2022 New FFC Cable: PID parameters: pid_Kp=22.059 pid_Ki=0.931 pid_Kd=130.701
# 20.12.2021 Auto PID cfg:PID parameters: pid_Kp=23.117 pid_Ki=1.027 pid_Kd=130.034
# 10.01.2021 Auto PID cfg: no FFC : pid_Kp=21.068 pid_Ki=0.918 pid_Kd=120.878
#
#The SAVE_CONFIG command will update the printer config file
#with these parameters and restart the printer.


##	Try to keep pressure_advance below 1.0
pressure_advance:  0.025 # nach test mit https://ellis3dp.com/Pressure_Linear_Advance_Tool/ , Foto in der nextcloud  #0.06525#0.07025 
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
# https://www.thingiverse.com/thing:4725897
max_extrude_only_distance: 500
max_extrude_only_velocity: 30
max_extrude_only_accel: 600 

#https://github.com/bad1dea/klipper_config/blob/master/cfgs/extruder.cfg

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.45  # before 0.5
hold_current: 0.2   # before 0.4
sense_resistor: 0.110
stealthchop_threshold: 0