[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^PA3
x_offset: 0
y_offset: 19.75
z_offset: 6.42 # 6.42   #Empririscher wert 4.405
speed: 6.0
samples: 3
samples_result: median
sample_retract_dist: 0.8
samples_tolerance: 0.01
samples_tolerance_retries: 3
